{
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "rules": {
    "no-console": 1,
    "no-unused-vars": 1,
    "semi": 1
  },
  "env": {
    "browser": true,
    "es6": true,
    "commonjs": true,
    "jasmine": true
  },
  "extends": "eslint:recommended"
}
